Repository auth0/cosmos, pull requests merged in 2018-04, with the labels that each got.

#453 Transpile tokens
  tooling/publish.js
Labels: 🐞bug, 🛠️tooling

#454 Hide deployment-package inside tooling
  .travis.yml
  tooling/deployment-package.json
Labels: ⚡enhancement, 🛠️tooling

#457 Update alias for master
  .travis.yml
Labels: 🛠️tooling

#460 Backmerge stable to master
  package.json
  readme.md
  tooling/publish.js
Labels: 🐞bug

#461 Testing jenkins triggers
  readme.md
Labels: 👮testing, 🛠️tooling

#462 Move jenkins notification to #design-system-feed
  Jenkinsfile
Labels: ⚡enhancement

#464 Always publish all packages
  tooling/publish.js
Labels: 🐞bug

#465 0.0.6
  Jenkinsfile
  tooling/publish.js
Labels: 🐞bug

#470 setup version back to 0.0.5
  src/babel-preset/package.json
  src/codemods/package.json
  src/components/package.json
  src/tokens/package.json
Labels: 🐞bug

#469 0.0.6
  changelog.md
  package.json
  src/babel-preset/package.json
  src/codemods/package.json
  src/components/package.json
  src/docs/changelog.json
  src/docs/changes.js
  src/docs/index.js
  src/docs/sidebar/list.js
  src/tokens/package.json
  tooling/catchup.js
  tooling/component-metadata.js
  tooling/publish.js
Labels: ⚡enhancement, 🛠️tooling

#471 remove codemods
  package.json
  src/components/codemods.js
  src/components/package.json
  tooling/catchup.js
  tooling/publish.js
Labels: 🛠️tooling

#455 Apply line-height only to sc- components
  src/components/_helpers/globals.js
  src/components/atoms/button/index.js
  src/components/atoms/select/index.js
  src/components/atoms/text-input/index.js
  src/components/molecules/_action-input/index.js
  src/components/molecules/form/field/index.js
  src/overview/examples/buttons-inputs.js
  src/overview/index.js
  src/tokens/misc.js
Labels: ⚡enhancement

#481 Cleanup precommits
  .gitignore
  tooling/update-icons.js
Labels: ⚡enhancement, 🛠️tooling

#492 Add permalink for doc sections
  package.json
  src/docs/spec/example-header.js
  src/docs/spec/example.js
  src/docs/spec/header.js
  src/docs/spec/section-header.js
  yarn.lock
Labels: ⚡enhancement, 📚docs

#483 More stories part 2
  src/components/molecules/button-group/button-group.story.js
  src/components/molecules/empty-state/empty-state.story.js
  src/components/molecules/form-group/form-group.story.js
  src/components/molecules/form/actions/actions.story.js
  src/components/molecules/form/field/stories/select-field.story.js
  src/components/molecules/form/field/stories/switch-field.story.js
  src/components/molecules/form/field/stories/text-field.story.js
  src/components/molecules/form/field/stories/textarea-field.story.js
  src/components/molecules/form/fieldset/fieldset.story.js
  src/components/molecules/form/form.story.js
  src/components/molecules/list/list.story.js
  src/components/molecules/page-header/page-header.story.js
  src/components/molecules/stack/stack.story.js
  src/components/molecules/tabs/tabs.story.js
Labels: 👮testing

#441 Improve client list
  src/docs/changelog.json
  src/manage/components/client-list.js
  src/manage/components/page.js
  src/manage/pages/client-detail/index.js
  src/manage/pages/clients/clients.json
  src/manage/pages/clients/index.js
  src/overview/examples/lists.js
Labels: ☂️example app

#496 Add ability to add defaults for prop table example
  src/components/atoms/tooltip/tooltip.md
  src/docs/spec/get-defaults-from-code.js
  src/docs/spec/playground.js
  src/docs/spec/props.js
Labels: ⚡enhancement, 📚docs

#484 sketch library: basic setup
  .storybook/config.js
  .storybook/preview-head.html
  .storybook/webpack.config.js
  package.json
  src/components/atoms/button/sketch/appearance.sketch.js
  src/stories/index.js
  tooling/cleanup-sketch.js
  yarn.lock
Labels: 🛠️tooling
