Repository auth0/cosmos, pull requests merged in 2019-03, with the labels that each got.

#1484 Make cosmos locally linkable (#1476)
  core/babel-preset/package.json
  core/babel-preset/packages.js
  internal/docs/guides/contribution-guide.js
  internal/docs/guides/contribution-guide/linking-cosmos.js
  package-scripts.js
  package.json
  tooling/build.js
  tooling/publish.js
  yarn.lock
Labels: ✨enhancement, 🛠️ tooling

#1516 Cleanup docs folder
  internal/docs/guides/contribution-guide.js
  internal/docs/guides/contribution-guide/release-process.js
Labels: 📚docs, 🤖internal

#1468 [DXDP-167] Forms improvements
  core/components/_helpers/component.story.js
  core/components/atoms/checkbox/checkbox.js
  core/components/atoms/code/code.js
  core/components/atoms/radio/radio.js
  core/components/layouts/stack-layout/stack-layout.story.js
  core/components/molecules/form/actions/actions.js
  core/components/molecules/form/error.js
  core/components/molecules/form/field/field.js
  core/components/molecules/form/field/stories/field.story.js
  core/components/molecules/form/field/stories/radio-field.story.js
  core/components/molecules/form/fieldset/divider.js
  core/components/molecules/form/fieldset/fieldset.js
  core/components/molecules/form/form.js
  core/components/molecules/form/form.story.js
  core/components/molecules/form/help-text.js
  core/components/molecules/form/label.js
  core/components/molecules/form/layout.js
  core/components/molecules/resource-list/item/item.js
  examples/manage/manage.story.js
  internal/test/unit/__snapshots__/form-field.test.js.snap
Labels: Internal Test OK, ♿ accessibility, ✨enhancement

#1488 Consistent appearance prop
  core/components/atoms/alert/alert.js
  core/components/atoms/alert/alert.md
  core/components/atoms/alert/alert.story.js
  internal/test/unit/__snapshots__/navigation.test.js.snap
Labels: 🖥️api / dx

#1547 Fix Form.Field requiring only one child
  core/components/molecules/form/field/field.js
  internal/test/unit/__snapshots__/form-field.test.js.snap
Labels: Internal Test OK, 🚨hi priority

#1551 Navigation check adjustments
  core/components/molecules/navigation/navigation-item.js
  core/components/molecules/navigation/navigation-subnav.js
Labels: Internal Test OK, 🚨hi priority
